<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DPCTeste</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <environment include="Development">
        <!-- vendor css files -->
        <link rel="stylesheet" href="~/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/vendor/animate.css">
        <link rel="stylesheet" href="~/css/vendor/font-awesome.min.css">
        <link rel="stylesheet" href="~/js/vendor/animsition/css/animsition.min.css">
        <link rel="stylesheet" href="~/js/vendor/daterangepicker/daterangepicker-bs3.css">
        <link rel="stylesheet" href="~/js/vendor/morris/morris.css">
        <link rel="stylesheet" href="~/js/vendor/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="~/js/vendor/owl-carousel/owl.theme.css">
        <link rel="stylesheet" href="~/js/vendor/rickshaw/rickshaw.min.css">
        <link rel="stylesheet" href="~/js/vendor/datetimepicker/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="~/js/vendor/datatables/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="~/js/vendor/datatables/datatables.bootstrap.min.css">
        <link rel="stylesheet" href="~/js/vendor/chosen/chosen.css">
        <link rel="stylesheet" href="~/js/vendor/summernote/summernote.css">
        <link rel="stylesheet" href="~/js/vendor/toastr/toastr.min.css">
        <link rel="stylesheet" href="~/bower_components/select2/dist/css/select2.min.css">
        <!-- project main css files -->
        <link rel="stylesheet" href="~/css/main.css">
        <!--/ stylesheets -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="~/js/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
        <link href="~/css/vendor/bootstrap-datepicker/bootstrap-datepicker3.css" rel="stylesheet" />

        <script src="~/js/vendor/modernizr/modernizr-2.8.3-respond-1.4.2.min.js"></script>
     
    </environment>
    <environment exclude="Development">
        <!-- vendor css files -->
        <link rel="stylesheet" href="~/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/vendor/animate.css">
        <link rel="stylesheet" href="~/css/vendor/font-awesome.min.css">
        <link rel="stylesheet" href="~/js/vendor/animsition/css/animsition.min.css">
        <link rel="stylesheet" href="~/js/vendor/daterangepicker/daterangepicker-bs3.css">
        <link rel="stylesheet" href="~/js/vendor/morris/morris.css">
        <link rel="stylesheet" href="~/js/vendor/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="~/js/vendor/owl-carousel/owl.theme.css">
        <link rel="stylesheet" href="~/js/vendor/rickshaw/rickshaw.min.css">
        <link rel="stylesheet" href="~/js/vendor/datetimepicker/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="~/js/vendor/datatables/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="~/js/vendor/datatables/datatables.bootstrap.min.css">
        <link rel="stylesheet" href="~/js/vendor/chosen/chosen.css">
        <link rel="stylesheet" href="~/js/vendor/summernote/summernote.css">
        <link rel="stylesheet" href="~/js/vendor/toastr/toastr.min.css">
        <link rel="stylesheet" href="~/bower_components/select2/dist/css/select2.min.css">
        <!-- project main css files -->
        <link rel="stylesheet" href="~/css/main.css">
        <!--/ stylesheets -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="~/js/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
        <link href="~/css/vendor/bootstrap-datepicker/bootstrap-datepicker3.css" rel="stylesheet" />

        <script src="~/js/vendor/modernizr/modernizr-2.8.3-respond-1.4.2.min.js"></script>  
      
    </environment>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Cliente" asp-action="Index">DPCTeste</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a>
                        </li>
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <environment include="Development">

        <script>window.jQuery || document.write('<script src="~/js/vendor/jquery/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="~/js/vendor/bootstrap/bootstrap.min.js"></script>        
        <script src="~/js/vendor/jRespond/jRespond.min.js"></script>

        <script src="~/js/vendor/d3/d3.min.js"></script>
        <script src="~/js/vendor/d3/d3.layout.min.js"></script>

        <script src="~/js/vendor/rickshaw/rickshaw.min.js"></script>

        <script src="~/js/vendor/sparkline/jquery.sparkline.min.js"></script>

        <script src="~/js/vendor/slimscroll/jquery.slimscroll.min.js"></script>

        <script src="~/js/vendor/animsition/js/jquery.animsition.min.js"></script>

        <script src="~/js/vendor/daterangepicker/moment.min.js"></script>
        <script src="~/js/vendor/daterangepicker/daterangepicker.js"></script>

        <script src="~/js/vendor/screenfull/screenfull.min.js"></script>

        <script src="~/js/vendor/flot/jquery.flot.min.js"></script>
        <script src="~/js/vendor/flot-tooltip/jquery.flot.tooltip.min.js"></script>
        <script src="~/js/vendor/flot-spline/jquery.flot.spline.min.js"></script>

        <script src="~/js/vendor/easypiechart/jquery.easypiechart.min.js"></script>

        <script src="~/js/vendor/raphael/raphael-min.js"></script>
        <script src="~/js/vendor/morris/morris.min.js"></script>

        <script src="~/js/vendor/owl-carousel/owl.carousel.min.js"></script>

        <script src="~/js/vendor/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

        <script src="~/js/vendor/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/js/vendor/datatables/extensions/dataTables.bootstrap.js"></script>

        <script src="~/js/vendor/chosen/chosen.jquery.min.js"></script>

        <script src="~/js/vendor/summernote/summernote.min.js"></script>

        <script src="~/js/vendor/coolclock/coolclock.js"></script>
        <script src="~/js/vendor/coolclock/excanvas.js"></script>
        <script src="~/js/main.js"></script>
        <script src="~/js/jquery.unobtrusive-ajax.js"></script>
        <script src="~/js/mascaras.js"></script>
        <script src="~/js/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        <script src="~/js/vendor/toastr/toastr.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script>window.jQuery || document.write('<script src="~/js/vendor/jquery/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="~/js/vendor/bootstrap/bootstrap.min.js"></script>       
        <script src="~/js/vendor/jRespond/jRespond.min.js"></script>

        <script src="~/js/vendor/d3/d3.min.js"></script>
        <script src="~/js/vendor/d3/d3.layout.min.js"></script>

        <script src="~/js/vendor/rickshaw/rickshaw.min.js"></script>

        <script src="~/js/vendor/sparkline/jquery.sparkline.min.js"></script>

        <script src="~/js/vendor/slimscroll/jquery.slimscroll.min.js"></script>

        <script src="~/js/vendor/animsition/js/jquery.animsition.min.js"></script>

        <script src="~/js/vendor/daterangepicker/moment.min.js"></script>
        <script src="~/js/vendor/daterangepicker/daterangepicker.js"></script>

        <script src="~/js/vendor/screenfull/screenfull.min.js"></script>

        <script src="~/js/vendor/flot/jquery.flot.min.js"></script>
        <script src="~/js/vendor/flot-tooltip/jquery.flot.tooltip.min.js"></script>
        <script src="~/js/vendor/flot-spline/jquery.flot.spline.min.js"></script>

        <script src="~/js/vendor/easypiechart/jquery.easypiechart.min.js"></script>

        <script src="~/js/vendor/raphael/raphael-min.js"></script>
        <script src="~/js/vendor/morris/morris.min.js"></script>

        <script src="~/js/vendor/owl-carousel/owl.carousel.min.js"></script>

        <script src="~/js/vendor/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

        <script src="~/js/vendor/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/js/vendor/datatables/extensions/dataTables.bootstrap.js"></script>

        <script src="~/js/vendor/chosen/chosen.jquery.min.js"></script>

        <script src="~/js/vendor/summernote/summernote.min.js"></script>

        <script src="~/js/vendor/coolclock/coolclock.js"></script>
        <script src="~/js/vendor/coolclock/excanvas.js"></script>
        <script src="~/js/main.js"></script>
        <script src="~/js/jquery.unobtrusive-ajax.js"></script>
        <script src="~/js/mascaras.js"></script>
        <script src="~/js/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        <script src="~/js/vendor/toastr/toastr.min.js"></script>
        <script src="~/js/vendor/flot/jquery.flot.pie.min.js"></script>
    </environment>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
